html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

#map { 
  height: 50%; 
  width: 50%;
  margin-left:100px;
}